In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chisquare
from scipy.stats import t, ttest_1samp
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

url = 'https://raw.githubusercontent.com/dsguseong/Mystudy/main/vgames2.csv'
df = pd.read_csv(url)
df.head()
df.drop('Unnamed: 0', axis = 1, inplace=True) # 중복된 인덱스 열 제거 후 적용

#df = df.infer_objects()
df.info() #결측지 확인하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.1+ MB

In [ ]:
df.isnull() #결측지 확인

        Name  Platform   Year  Genre  ...  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0      False     False  False  False  ...     False     False     False        False
1      False     False  False  False  ...     False     False     False        False
2      False     False  False  False  ...     False     False     False        False
3      False     False  False  False  ...     False     False     False        False
4      False     False  False  False  ...     False     False     False        False
...      ...       ...    ...    ...  ...       ...       ...       ...          ...
16593  False     False  False  False  ...     False     False     False        False
16594  False     False  False  False  ...     False     False     False        False
16595  False     False  False  False  ...     False     False     False        False
16596  False     False  False  False  ...     False     False     False        False
16597  False     False  False  False  ...     False     False     False        False

[16598 rows x 9 columns]

In [ ]:
df.isnull().sum()  #각 칼럼별 결측지 수 총합 확인

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [ ]:
df = df.dropna(how='any') #결측지 수가 데이타 수에 비하여 미비하기에 제거하여도 무방하다고 판단, 결측지가 하나라도 있는 행 모두 제거, 총 제거 수 : 379개
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16241 rows x 9 columns]

In [ ]:
df.info() #결측지 제거 후 데이터 정보

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16241 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16241 non-null  object
 1   Platform     16241 non-null  object
 2   Year         16241 non-null  float64
 3   Genre        16241 non-null  object
 4   Publisher    16241 non-null  object
 5   NA_Sales     16241 non-null  object
 6   EU_Sales     16241 non-null  object
 7   JP_Sales     16241 non-null  object
 8   Other_Sales  16241 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.2+ MB

In [ ]:
df = df[df.Year > 1900] #1900년도 이상의 데이터만 불러오기 
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16141 rows x 9 columns]

In [ ]:
df_a = df.iloc[:,[0,1,2,3,4]]
df_b = df.iloc[:,[5,6,7,8]]
NA = pd.to_numeric(df_b['NA_Sales'], errors='coerce')
a = NA.dropna(how='any')
EU = pd.to_numeric(df_b['EU_Sales'], errors='coerce')
b = EU.dropna(how='any')
JP = pd.to_numeric(df_b['JP_Sales'], errors='coerce')
c = JP.dropna(how='any')
Other = pd.to_numeric(df_b['Other_Sales'], errors='coerce')
d = Other.dropna(how='any')
df_a['NA_Sales'] = a
df_a['EU_Sales'] = b
df_a['JP_Sales'] = c
df_a['Other_Sales'] = d
df0 = df_a.dropna(how='any')    # 모든 sales 열 안에 있는 K or M 값이 포함되어 있는 행의 데이터 모두 제거  
df0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...        0.00
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...        0.00
3                    Deal or No Deal: Special Edition  ...        0.00
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...        0.00
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[15382 rows x 9 columns]

In [ ]:
#aa = df['NA_Sales'].str.contains("K")  나중에 포함된것만 분류해서 제거 하는거 방법 알아보자 지금은 시간없으니 일단 간단한걸로 넘어가장^^
#df[aa]

In [ ]:
#df['NA_Sales'].replace('M','')
#df['NA_Sales'].astype('float')
#NA = pd.to_numeric(df['NA_Sales', 'EU_Sales'], errors='coerce')

#NA = df3.dropna(how='any')
#df3.head(40)
#df3
#df['NA_Sales'].replace('K','')
#df['NA_Sales'].head(20)
#df['NA_Sales'] = pd.to_numeric(df['NA_Sales'])

In [ ]:
#df['Platform'].cat.categories

In [ ]:

df1 = df0.set_index("Name") #Name 칼럼을 인덱스로 세팅
df1

                                               Platform  ...  Other_Sales
Name                                                     ...
Candace Kane's Candy Factory                         DS  ...         0.00
The Munchables                                      Wii  ...         0.01
Otome wa Oanesama Boku ni Koi Shiteru Portable      PSP  ...         0.00
Deal or No Deal: Special Edition                     DS  ...         0.00
Ben 10 Ultimate Alien: Cosmic Destruction           PS3  ...         0.04
...                                                 ...  ...          ...
Ice Age 2: The Meltdown                              GC  ...         0.01
Rainbow Islands: Revolution                         PSP  ...         0.00
NBA 2K16                                            PS3  ...         0.13
Toukiden: The Age of Demons                         PSV  ...         0.03
The King of Fighters '95                             PS  ...         0.01

[15382 rows x 8 columns]

In [ ]:
df1.transpose()

Name        Candace Kane's Candy Factory  ...     The King of Fighters '95
Platform                              DS  ...                           PS
Year                                2008  ...                         1996
Genre                             Action  ...                     Fighting
Publisher                      Destineer  ...  Sony Computer Entertainment
NA_Sales                            0.04  ...                            0
EU_Sales                               0  ...                            0
JP_Sales                               0  ...                         0.16
Other_Sales                            0  ...                         0.01

[8 rows x 15382 columns]